@import url('https://fonts.googleapis.com/css2?family=Pangolin&display..');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display..');

header, #Dota{
background-color: black;
padding: 10px;
}

main {
padding: 20px;

}

.carousele {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    }

.carousele img {
width: 800px;
    }
    
body {
background-image: url('https://i0.wp.com/hdqwalls.com/download/1/dota-2-game.jpg');
background-size: cover;
background-attachment: fixed;
}

.post {
background-color: black;
padding: 10px;
border-radius: 10px;
margin-bottom: 20px;
display: flex;
}

h1 {
color: white;
font-family: "Pangolin", sans-serif ;
font-weight: 700;
}

.post img {
margin: 15px;
}


h2 {
color: azure;
}

h3 {
color: white;
float: right;
font-size: 20px;
}

#HealingSalve {
float: right;
}

#Tango {
float: right;
}

#Gauntlets{
float: right;
}

#Arcane {
float: right;
}

#Blink {
float: right;
}

.post {
background-color: black;
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
display: flex;
}

.footer-columns {
display: flex;
}

.footer-column {
flex: 50%;
margin: 20px;
}
footer{
padding: 10px;
}
h4 {
font-family: "Pangolin", sans-serif ;
font-weight: 700;
font-size: 30px;
color: white;
}
h5 {
color: white;
float: top;
font-size: 23px;
}
h6 {
float: right;
color: white;
font-size: 20px;
}
#Bootle {
float: right;
}
#Phase {
float: right;
}
#Aghanim {
float: right;
}
#Force {
float: right;
}
#Blood {
float: right;
}
#Dota {
    float: left;
    background-color: black;
    padding: 10px;

}
#menu {
    position:relative;
    display:block;
    width:100%;
    height:auto;
    z-index:10;
    background-color:white;
}

#menu ul {
 position:relative;
 display:block;
 margin:0;
 padding:0;
 width:100%;
 height:auto;
 list-style:none;
}

#menu > ul::after {
display:block;
width: 100%;
height:auto;
clear:both;
content:"";
}

#menu ul li{
    position:relative;
    display:block;
    float: left;
    width:auto;
    height:auto;
}

#menu ul li a{
    display:block;
    padding:9px 25px 0px 25px;
    font-size:14px;
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    height:36px;
    box-sizing:border-box;
    color:black;
}

#menu ul li ul{
    position:absolute;
    top:36px;
    left:0px;
    display:none;
    width:110px;
    background:black;
}

#menu ul li:hover ul{
    display:block;

}

#menu ul li ul li{
float:none;
width:100%
}  

#menu ul li ul li a{
    display:block;
    text-transform:none;
    height:auto;
    padding:7px 25px;
    width:110px;
    box-sizing:border-box;
    border-top:1px solid black;
    color:white;
}